.nav-txt{
    margin-right: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
#logo {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin-right: 20px;
}
#hero {
    height: 70vh;
    background-image: url('pictures/sam.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83%;
    background-image: linear-gradient(to right, black, rgb(78, 78, 78), black);
    z-index: -1;
}
#hero .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about {
    height: 65vh;
    background-image: url('pictures/summer_restock.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product-image {
    max-height: 1000px; /* Adjust this value as you see fit */
    object-fit: cover; /* Ensures the image is resized properly */
    margin-bottom: 30px; /* Adds some space below the image */
}

.product-details {
    padding-top: 20px; /* Adds some space at the top for better alignment */
}
